html, body { 
    margin: 0; 
    padding: 0;
    top: 0;
    left: 0;
}
body, #info {
    background-color: #034;
    color: #fff;
}
#entete {
    background-color: #fff;
    margin: 0;
    padding: 1em;
    text-align: center;
    color: #034;
    text-shadow: 0 0 3px #59a;
}

#content {
    border-bottom: 1px solid #cde;
    background-color: #fff;
    color: #343;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

#bottom a,
#bottom a:link,
#bottom a:visited {
   color: #cde; }
#bottom a:hover,
#bottom a:active {
    color: #fc8; }

#bottom {
    background-color: #034;
    color: #fff;
    font-size: .8em;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

a,
a:link,
a:visited {
    color: #800; }
a:hover,
a:active {
    color: #800; }

#gprefs {
    font-size: 1.2em;
    margin: 1em;
}
#promotion {
    font-size: .8em;
}


/* input */
#content input {
    color: #320;
    margin: .5em;
    font-size: 1.5em;
}

#content input.inactive {
    color: #dddddd;
}

#signin {
    width: 10em;
}

/* tables */
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
table tr th {
    margin: 7px;
    color: #ca8;
    background-color: #320;
}

#info {
    font-size: 2em;
    top: 30%;
    left: 30%;
    width: 40%;
    position: fixed;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    opacity: .8;
}
#info div {
    padding: .5em;
    margin: .5em; }

table tr th {
    font-weight: bold;
    text-align: center;
    padding: 1.5em; }
table tr td {
    padding: .8em;
    border: solid 1px #320; }
table tr.r0 td {
    background-color: #DB9; }
table tr.r1 td {
    background-color: #F3CFAA; }
table input {
    background-color: transparent;
    border: none;
    margin: 0;
}
