html, body { 
    font-family: "Helvetica", sans-serif;
    font-size: .9em;
    margin: 0; 
    padding: 0;
    top: 0;
    left: 0;
}
body, #info {
    background-color: #010101;
    color: #888;
}
#content {
    line-height: 1.4em;
    font-size: 1.2em;
    background-color: #111;
    color: #DDD;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2em;
    min-height: 500px;
}
#content b, 
#content strong,
#content em {
    color: #CFF;
}
#entete {
    margin: 1.5em;
    padding: 1em;
    text-align: center;
    text-shadow: 0 0 9px #111;
}
#logo {
    float: right;
    margin-top: .5em;
}
#titles {
    float: left;
    margin-left: 2em;
    color: #CFF;
    text-shadow: 0 0 8px #00F;
}
.flush { clear: both; }

content {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #eee;
    background-color: #888;
    color: #333;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

a,
a:link,
a:visited {
        color: #CFF; }
a:hover,
a:active {
    color: #F88;
    text-shadow: 0 0 2px #D00; }

#bottom {
    font-size: .8em;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

#menu {
    font-size: 1.5em;
}

.editable {
	border: none;
	background: #888fff;
}

#promotion {
    font-size: .8em;
}


/* input */
#content input {
    color: #333;
    margin: .5em;
    font-size: 1.5em;
}

#content input.inactive {
    color: #dddddd;
}
#content table input {
    font-size: 1em;
    color: #888
}
.button {
    background-color: #111;
    color: #888;
    padding: .5em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    }
    .button:hover {
        cursor: pointer;
    }

#signin {
    width: 10em;
}

/* tables */
table {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
table tr th {
    margin: 7px;
    color: #888;
    background-color: #222;
    text-shadow: 0 1px #000;
}

#info {
    font-size: 2em;
    top: 30%;
    left: 30%;
    width: 40%;
    position: fixed;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    opacity: .8;
}
#info div {
    padding: .5em;
    margin: .5em; }

table tr th {
    font-weight: bold;
    text-align: center;
    padding: 1.5em; }
table tr td {
    padding: .8em;
    border: solid 1px #333; }
table tr.r0 td {
    background-color: #111; }
table tr.r1 td {
    background-color: #222; }
table input {
    background-color: transparent;
    color: #AAA;
    border: none;
    margin: 0;
}

#username {
    margin-top: 0;
    font-size: 1.2em;
}
#instantconsumption {
    margin: 1em;
    font-size: 1.5em;
}
#message {
    margin: 1em;
    font-size: 1.4em;
}

#graph {
   width: 45em;
   height: 25em;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
#blackpage {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  text-align: center;
  color: #666666
  padding-top: 10em;
  background-color: #eeeeee;
  z-index: 9000;
  padding-top: 20em;
  cursor: wait; }
  #blackpage img { background: none border: none }
  #blackpage a { cursor: pointer }

.button {
    background-color: #333;
    color: #888;
    border: 2px #555;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
