    <% begin %>
        <% @object[0][:nickname] %>
        <div id="info">
        </div>
        <table>
            <tr>
                <th>nickname</th>
                <th>status</th>
                <th>update</th>
                <th>remove</th>
            </tr>
        <% parity_class = 0 %>
        <% @object.sort {|x,y| x[:nickname] <=> y[:nickname]}.each do |account| %>
            <% nkm=account[:nickname] %>
            <% parity_class=( parity_class+1) %2 %>
            <tr class="r<%=parity_class%>" id="line<%=nkm%>">
                <td><a href="/users/<%=nkm%>?l=adm&p=adm"><%=  nkm %></a></td>
                <td><input type="text" id="msg<%=nkm%>" value="<%=  account[:status] %>"/></td>
                <td><span class="button"
                        onclick='update_resource("<%=nkm%>")'>update</span></td>
                <td><span class="button" 
                        onclick='delete_resource("<%=nkm%>")'>remove</span></td>
            </td>
        <% end %>
        </table>
    <% rescue Exception => e %>
        <%= @content %>
    <% end %>
